body {
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    z-index: -1;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-links > li{
  /* margin-left: 20px;
  margin-right: 20px;  */
  padding: 2rem;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  transform : translate(-50%,-50%);
  pointer-events : none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grey();
}
.link-grow {
    transform: scale(2);
    background: black;
}
.hovered-link {
    color : white;
    transform: all 0.3s;
}
.none {
    display : none;
}
.main-box-home {
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
}
/* 캐러셀 */
.carousel-container {
    z-index: -3;
    position: relative;
    width: 30vw;
    height: 100%;
    overflow: hidden;
  }
  .carousel-wrapper {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-wrapper img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }

  .right-box-container {
    width: 60vw;
    height: 100%;
    border-top: 1px solid black;
  }
  .right-box > h1 {
    color: #6d1515;
    font-family: 'Karla', sans-serif;
  }
  .profile-box-container {
    display: flex;
  }
  .profile-box {
    margin-right: 7rem;
    font-weight: 900;
  }
  .skill-box > p {
    margin-right: 5px;
    display: inline-block;  
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #b15555;
    border-radius: 30px;
  }
  .introduce > p {
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
.main-box-contact {
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction : column;
    border-top : 1px solid black;
}
.contact-left-box {
    width: 100%;
    height: 40vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
}
.contact-left-box-img {
    width : 200px;
    height: 200px;
    margin: auto;
    z-index: -4;
}
.contact-left-box-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.contact-detail {
    width: 20vw;
    height: 100%;
}
.right-box-container-contact {
    width: 100%;
    height: 100%;
    display: flex;
     margin: auto;
}
.right-box-contact {
    text-align: center;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.main-box-profile {
    border-top: 1px solid black ;
    width: 95%;
    height: 80vh;
    margin: auto;
}
.profile-name {
    width: 50%;
    padding-bottom: 20px;
}
.grid-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 5rem 5rem 7rem;
    grid-gap: 1rem;
  }
  /* .grid-container div {
    border: 1px solid black;
  } */
.profile-box-detail {
    padding-top: 1rem;
}
.detail-span {
    color : #9aa6be;
}

.profile-one-box {
    width: 40vw;
    height: auto;
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
}
.profile-one-box-left {
    width: auto;
    height: auto;
    margin-right: 2rem;
}
.profile-one-box-right {
    margin-top: 1rem;
}
.korea {
    margin-top: 1rem;
    width: 50px;
    height: 30px;
    display: inline-block;
}

/* work Page */
.main-work {
    width: 95%;
    height: 100%;
    border-top: 1px solid black;
    margin: auto;
    padding: 3rem;
    z-index: -5;
}
.title {
    margin: auto;
}
/* Work 캐러셀 */
.slider {
    width: 80vw;
    height: 65vh;
    background: white;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: -5;
    padding-top: 1rem;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
} 
.slides > input {
    display: none;
}
.slide {
    width: 20%;
    height: 100%;
    display: flex;
    transition: 2s;
}
.box-left {
    width: 40%;
    height: 100%;
}
.box-left > img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.box-right {
    width: 50%;
    height: 100%;
    color: rgb(0, 0, 0);
    padding: 3rem;
}

/* slides for slide navigation */
.navigation-manual {
    position: absolute;
    width: 70vw;
    height: 30px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 500px;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background : #1a1a1a;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-20%;
}
#radio3:checked ~ .first{
    margin-left:-40%;
}
#radio4:checked ~ .first{
    margin-left:-60%;
} 

.navigation-auto {
    position: absolute;
    display: flex;
    width: 70vw;
    justify-content: center;
}
.navigation-auto div{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #000000;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #000000;
}
