body {
    font-family: 'Montserrat', sans-serif;
    cursor: none;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-links > li{
  /* margin-left: 20px;
  margin-right: 20px;  */
  padding: 2rem;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  transform : translate(-50%,-50%);
  pointer-events : none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: blur(3px);
}
.link-grow {
    transform: scale(2);
    background: black;
}
.hovered-link {
    color : white;
    transform: all 0.3s;
}
.none {
    display : none;
}
.main-box-home {
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
}
/* 캐러셀 */
.carousel-container {
    z-index: -3;
    position: relative;
    width: 30vw;
    height: 100%;
    overflow: hidden;
  }
  .carousel-wrapper {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-wrapper img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }

  .right-box-container {
    width: 60vw;
    height: 100%;
    border-top: 1px solid black;
  }
  .right-box > h1 {
    color: #6d1515;
    font-family: 'Karla', sans-serif;
  }
  .profile-box-container {
    display: flex;
  }
  .profile-box {
    margin-right: 7rem;
    font-weight: 900;
  }
  .skill-box > p {
    margin-right: 5px;
    display: inline-block;  
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #b15555;
    border-radius: 30px;
  }
  .introduce > p {
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
.main-box-contact {
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction : column;
    border-top : 1px solid black;
}
.contact-left-box {
    width: 100%;
    height: 40vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
}
.contact-left-box-img {
    width : 200px;
    height: 200px;
    margin: auto;
    z-index: -4;
}
.contact-left-box-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.contact-detail {
    width: 20vw;
    height: 100%;
}
.right-box-container-contact {
    width: 100%;
    height: 100%;
    display: flex;
     margin: auto;
}
.right-box-contact {
    text-align: center;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.main-box-profile {
    border-top: 1px solid black ;
    width: 95%;
    height: 80vh;
    margin: auto;
}
.profile-name {
    width: 50%;
    padding-bottom: 20px;
}
.grid-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 5rem 5rem 7rem;
    grid-gap: 1rem;
  }
  /* .grid-container div {
    border: 1px solid black;
  } */
.profile-box-detail {
    padding-top: 1rem;
}
.detail-span {
    color : #9aa6be;
}
Award-winning
.profile-one-box {
    width: 40vw;
    height: auto;
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
}
.profile-one-box-left {
    width: auto;
    height: auto;
    margin-right: 2rem;
}
.profile-one-box-right {
    margin-top: 1rem;
}
.korea {
    margin-top: 1rem;
    width: 50px;
    height: 30px;
    display: inline-block;
}
.main-work {
    width: 95%;
    height: 100%;
    border-top: 1px solid black;
    margin: auto;
    padding: 3rem;
}

.slider {
    width: 70vw;
    height: 45vh;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
.slides {
    display: flex;
    width: calc(100% * 5);
    height: 100%;
    transition: transform 0.5s;
  }
  
  .slide {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .text h2 {
    margin-bottom: 20px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  